.details {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #71717a;
  width: 60%;
  margin: 30px auto;
  border: 2px solid #71717a;
  padding: 20px;
  background: #000;
  border-radius: 0.5rem;
  overflow: hidden;
}

.details div > span {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 10px;
}

.desc p {
  display: block;
  margin: 20px 0;
  word-wrap: break-word;
}

.desc ul, .desc ol {
  padding-left: 20px;
}

.desc ul > li, .desc ol > li {
  padding: 5px 0;
  font-size: 16px;
}

.img {
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
}
