.wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  left: 0;
  background: linear-gradient(to bottom, #f7f5fa, #f7f5fab2), url('../images/bg-auth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper form > * {
  margin: 10px;
}

.wrapper form input {
  background: transparent;
  border: 1px solid grey;
  padding: 12px 20px;
  border-radius: 2rem;
  outline: none;
  text-align: center;
}

.wrapper form input:focus {
  border: 1px solid #ed5c28;
}

.wrapper form input[type=password] {
  color: #ed5c28;
}

.wrapper form p {
  padding: 0 30px;
  text-align: center;
}

.wrapper form p:first-child {
  font-weight: 300;
  font-size: 35px;
}

.wrapper form p:nth-child(2) {
  color: rgba(0, 0, 0, 0.699);
}

.wrapper form p:nth-child(3) {
  color: red;
  font-size: 12px;
}

.wrapper form button {
  background: #ed5c28;
  padding: 12px 20px;
  border: none;
  border-radius: 2rem;
  margin: 0 10px;
  color: #fff;
  box-shadow: 8px 5px 20px 3px #ed5d2886;
  outline: none;
}

.wrapper form button:hover {
  background-color: #c73e0d;
}

.wrapper form h6 {
  margin-top: 20%;
  color: grey;
}
