* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16161f25;
  height: 100vh;
  width: 100vw;
}

body {
  padding-top: 5%;
}

.navbar {
  display: flex;
  border: 1px solid red;
}

.navbar li {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
}

.App {
  width: 20vw;
  border: 5px solid #000;
  height: 70vh;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}

