.details {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.details button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.details div > span {
  display: block;
  font-size: 16px;
  font-weight: bolder;
  margin: 10px 10px;
  text-align: center;
}

.wrapper > div:nth-child(-n + 5) span{
  text-align: left;
  display: inline-block;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 80px;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.img img {
  width: 100%;
  border-radius: 0.5rem;
}
