.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-color: #1c1c24; */
  border-radius: 0.5rem;
  padding: 10px;
  color: #000;
  font-size: 14px;
}

.logo {
  width: 100%;
  height: 80px;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
}

.logo img {
  width: 100%;
  /* height: auto; */
  /* padding-right: 10px; */
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: transparent;

  /* border: 1px solid red; */
  width: 100%;
}

.btn {
  border-radius: 0.5rem;
  padding: 10px 2.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
}


.title {
  font-weight: bold;
  font-size: large;
}

.link {
  text-decoration: none;
  
}

.card p {
  font-weight: bold;
  font-size: 12px;
}

.card > div:last-child{
  color: grey;
}

.card > div:nth-child(4), .card > div:nth-child(5){
  /* border: 1px solid #000; */
  color: grey;
}

.card > div:nth-child(3){
  /* border: 1px solid #000; */
  font-weight: bold;
}