.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1c1c24;
  border-radius: 0.5rem;
  padding: 20px 25px;
  color: #000002;
}

.company_logo {
  width: 100px;
  height: 80px;
  border-radius: 0.5rem;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: transparent;

  /* border: 1px solid red; */
  width: 100%;
}

.btn {
  border-radius: 0.5rem;
  padding: 10px 2.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn__apply {
  background-color: #344768;
  color: #fff;
  margin-right: 10px;
}

.btn__save {
  background-color: maroon;
  color: #fff;
}

.title {
  font-weight: bold;
  font-size: large;
}
